body { font-family: Arial;
font-size: .8em; }
			
a, a:visited {text-decoration: none; 
color: gray; }
			
header { right: 0;
position: absolute;
margin: 15px 15px 15px 15px;
text-decoration: none;
height: 40px; }
			
.head { padding: 5px;
text-decoration: none;
margin-right: 4px; }
			
#grid { width: 17px;
height: 17px;
margin: 50px, 10px, 0px, 10px;
padding: 50px, 10px, 0px, 10px;
bottom: 0; }

#sign { background-color: #3369e8;
color: White;
padding: 6px 12px 6px 12px;
text-decoration: none;
border-radius: 2px;
margin-right: 14px; }

a:hover { text-decoration: underline; }
			
#logo { width: 272px;
height: 92px;
position: relative;
center: 0;
display: flex;
margin: auto;
margin-top: 98px;
margin-bottom: 35px; }

#topDiv { width: 100%;
height: 100px; }

#search { width: 555px;
height: 38px;
center: 0;
display: flex;
margin: auto;
padding-left: 10px;
justify-content: center;
font-size: 18px; }

#mid1 { height: 100px;
width: 50%;
position: relative;
float: left; }

#mid2 { height: 100px;
width: 50%;
position: relative;
float: right; }

#buttonL { background-color: #f1f1f1;
margin: 15px 5px 15px 5px;
position: relative;
justify-content: center;
border-radius: 2px;
float: right;
text-decoration: none;
right: 10px;
top: 15px; }

#buttonR { background-color: #f1f1f1;
margin: 15px 5px 15px 5px;
position: relative;
justify-content: center;
border-radius: 3px;
float: left;
text-decoration: none;
left: -10px;
top: 15px; }

.buttonInt { background-color: #f1f1f1;
color: gray;
font-family: Arial;
border: none;
font-weight: bold;
padding: 9px 15px 9px 15px;
border-radius: 3px; 
font-size: 1.05em; }

.buttonInt:hover {border: 1px solid gray;
color: black; }
			
#lucky { font-family: Arial; }
			
footer { background-color: #f1f1f1;
width: 100%;
height: 41px; 
position: absolute;
bottom: 0;
left: 0; }

.footL { float: left;
margin: 13px 12px 13px 20px;
position: inline;
text-decoration: none; }

.footR { float: right;
margin: 13px 20px 13px 12px;
position: inline;
text-decoration: none; }
			
#farL { padding-left: 9px; }
#farR { padding-right: 9px; }
